[Unit]
Description=Mi Servicio Node.js

[Service]
User=developer
Type=simple
ExecStart=/usr/bin/node /home/developer/connectionScaleWS/server/index.js
#ExecStart=/usr/bin/node /home/developer/connectionScaleWS/server/indexNoScale.js
Restart=on-failure

[Install]
WantedBy=multi-user.target
